.card-deck{
    padding: 50px;
}
.body-content{
    padding-top: 100px;
    width: 90%;
}
.body-content ul{
    list-style: none;
}
@media only screen and (max-width: 320px) {
    .body-content{
        width:400px;
    }
} 