<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/cubeics.png" style="height: 300px; width: 300px; margin: 40px;" alt="cubeics">
      <div class="card-body">
        <h5 class="card-title">Cubeics Android Game</h5>
        <p class="card-text">My first ever experiment in game development. Lot of thanks to various YouTube vidoes and online stuffs. This project was developed in Unity Game Engine.</p>
        <a href="https://play.google.com/store/apps/details?id=com.Howdy.Cubeics" target="_blank">Try it out</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">December 16th, 2018</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/dandelion.png" style="height: 300px; width: 300px; margin: 40px;" alt="dandelion">
      <div class="card-body">
        <h5 class="card-title">Dandelion Game</h5>
        <p class="card-text">Again after so much time to kill and boredom made me to work on this project. This project took lesser time as compared to previous one, obviously learned from mistake. Still I prefer the first one the best one among these two.</p>
        <a href="https://play.google.com/store/apps/details?id=com.Howdy.Dandelion" target="_blank">Try it out</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">April 8, 2019</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/quora.png" style="height: 300px; width: 300px; margin: 40px;" alt="quora">
      <div class="card-body">
        <h5 class="card-title">Quora UI Clone</h5>
        <p class="card-text">Well this one is interesting one. Not a complex Angular Ptoject or something, but the fact this whole project is developed and implemented using Termux on an Android Smartphone. In case if you get to know how I did this on phone check <a href="https://qr.ae/pN4YEc" target="_blank">this</a> answer.</p>
        <a href="https://quora-ui-clone.herokuapp.com" target="_blank">Live Preview</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">October 2020</small>
      </div>
    </div>
  </div>