 <div class="body-content" >
  <ul *ngFor="let wk of work">
    <li style="display: inline;">
      <div class="card border-light text-white col-sm-4" style="background-color: #ffffff1a;">
        <img class="card-img-top" [src]="wk.image"  alt="project preview">
        <div class="card-body">
          <h5 class="card-title"  style="border-left: 3px solid rosybrown; padding-left: 5px;">{{wk.title}}</h5>
          <p class="card-text">{{wk.desc}}</p>
          <a [attr.href]="wk.link" target="_blank">Try it out</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{wk.date}}</small>
        </div>
      </div>
    </li>
  </ul>
  <!-- <div class="card-deck" *ngFor="let wk of work">
    <div class="card border-light text-white mb-3" style="background-color: #ffffff1a;">
      <img class="card-img-top" [src]="wk.image"  alt="project preview">
      <div class="card-body">
        <h5 class="card-title"  style="border-left: 3px solid rosybrown; padding-left: 5px;">{{wk.title}}</h5>
        <p class="card-text">{{wk.desc}}</p>
        <a [attr.href]="wk.link" target="_blank">Try it out</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{wk.date}}</small>
      </div>
    </div>
  </div> -->
</div> 