 <div class="body-content">
  <ul *ngFor="let wk of work">
    <li>
      <div class="card border-light text-white" style="background-color: #ffffff1a;">
        <div class="row no-gutters">
            <div class="col-sm-2">
                <img [src]="wk.image" alt="project preview" style="height: 100%; width: 100%;">
                <!-- <img src="//image.thum.io/get/http://quora-ui-clone.herokuapp.com/" alt="project preview" style="height: 100%; width: 100%;"> -->
            </div>
            <div class="col">
                <div class="card-block" style="margin: 3%;">
                    <h4 class="card-title" class="animate__animated animate__bounce" style="border-left: 3px solid rosybrown; padding-left: 5px;">{{wk.title}}</h4>
                    <p class="card-text">{{wk.desc}}</p>
                    <a [attr.href]="wk.link" target="_blank">Check it out</a>
                </div>
            </div>
        </div>
        <div class="card-footer w-100 text-muted" style="background-color: #706f6f1f;">
            <small>{{wk.date}}</small>
        </div>
      </div>
    </li>
  </ul>
</div> 