.body-content{
    padding: 15px;
}
.jumbotron{
    background: none;
    border: 5px solid white;
    border-radius: 0;
}
@media only screen and (max-width: 320px) {
    .body-content{
        width:400px;
    }
} 