<html>
    <body>
        <div class="bc">
            <div class="jumbotron">
                <h1 class="display-4">Thanks!</h1>
                <p class="lead">Glad you made time to go through my portfolio. It's always a pleasure to hear feedbacks from people.</p>
                <hr style="background-color: white;">
                <p>Please fill out the details below to reach me.</p>
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">What you do to be exact?</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Free Lancer</option>
                        <option>From an Organization</option>
                        <option>Just a curious Individual</option>
                        <option>Student</option>
                        <option>A Huge Fan</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Life is busy, since we are not friend. May I know what made you contact me?</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <p class="lead">
                        <button type="submit" class="btn btn-lg btn-outline-warning">Just Send It</button>
                      </p>
                  </form>
              </div>
        </div>
    </body>
</html>