<html>
    <body>
      <div class="body-content">
            <div class="jumbotron">
                <h1 class="display-4 animate__animated animate__fadeInRight">Thanks!</h1>
                <p class="lead">Glad you made time to go through my portfolio. It's always a pleasure to hear feedbacks from people.</p>
                <hr style="background-color: white;">
                <p>Please fill out the details below to reach me.</p>
                <small class="text-info alert" style="padding: 0;">Or simply mail me @ <a href="mailto:spanand2898@gmail.com">spanand2898@gmail.com</a></small>
                <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="onSubmit(myForm.value)" class="alert" style="padding: 0;">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email" [ngClass]="{'is-invalid':myForm.get('email').invalid && myForm.get('email').touched}" [ngStyle]="{'background-color': (myForm.get('email').invalid && myForm.get('email').touched) ? '#ff9999' : (!(myForm.get('email').invalid) ? '#1aff66' :null)}">
                      <small *ngIf="myForm.get('email').invalid && myForm.get('email').touched" class="text-danger">*Email Incorrrect</small>
                    </div>
                    <div class="form-group">
                      <label for="role">What you do to be exact?</label>
                      <select class="form-control" id="role" formControlName="role" [class.is-invalid]="myForm.get('role').invalid && myForm.get('role').touched" [ngStyle]="{'background-color': (myForm.get('role').invalid && myForm.get('role').touched) ? '#ff9999' : (!(myForm.get('role').invalid) ? '#1aff66' :null)}">
                        <option>Free Lancer</option>
                        <option>From an Organization</option>
                        <option>Just a curious Individual</option>
                        <option>Student</option>
                        <option>A Huge Fan</option>
                      </select>
                      <small *ngIf="myForm.get('role').invalid && myForm.get('role').touched" class="text-danger">*Don't be shy !</small>
                    </div>
                    <div class="form-group">
                      <label for="aboutU">Life is busy, since we are not friend. May I know what made you contact me?</label>
                      <textarea appCheckLength [class.is-invalid]="myForm.get('aboutU').invalid && myForm.get('aboutU').touched" class="form-control" id="aboutU" rows="3" formControlName="aboutU" placeholder="Atleast 30 characters"></textarea>
                      <small *ngIf="myForm.get('aboutU').invalid && myForm.get('aboutU').touched" class="text-danger">*Love to hear more about you.</small>
                    </div>
                    <p class="lead">
                        <button type="submit" class="btn btn-lg btn-outline-light" [disabled]="myForm.invalid">
                          <span class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"></span>Just Send It</button>
                      </p>
                  </form>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
          <p style="color: white; z-index: -1">Please Wait. </p>  
        </ngx-spinner>
    </body>
</html>