<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <particles [params]="myParams" [style]="myStyle" [width]="width"></particles>
<body>
  
  <nav class="header navbar navbar-expand-sm navbar-dark" style="font-family: 'Poppins';">
    <a class="navbar-brand" routerLink="/home"><img src="../assets/images/howdy-white.png"
        style="width:45px; height:45px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link mb-0 h5" routerLink="/home">Home</a>
        <a class="nav-item nav-link mb-0 h5" routerLink="/work">My Work</a>
        <a class="nav-item nav-link mb-0 h5" routerLink="/contact">Contact Me</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="footer navbar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/contact">Contact Me</a></li>
      <li style="color: gold;">Copyright &copy; Pradeep Anand 2020</li>
      <li><a href="https://github.com/Pradeep2898/Portfolio.git" target="_blank">More about this website</a></li>
    </ul>
  </div>
</body>
</html>