.footer{
    font-family: "Poppins";
    background-color: black;
    box-sizing: border-box;
    border-top: 1px solid gray;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
.footer ul{
    margin-bottom: 0;
    padding: 15px;
}
.footer ul li{
    display: inline-block;
    padding-right: 15px;
}
.footer ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}
.footer ul li a:hover::after{
    width: 100%;
}
.footer ul li a{
    text-decoration: none;
}
@media only screen and (max-width: 320px) {
    .header, .footer{
        width:400px;
    }
}