<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<body>
  <div class="body-content">
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Howdy! mates ;-)</h1>
      <p id="tag">I'm Pradeep Anand, a learner and implementor.</p>
    </div>
    <hr style="background-color: white;">
    <div class="row">
      <div class="col-sm-4 left">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" style="padding: 3px;" src="../assets/images/IMG_20190307_172643.jpg"
            alt="profile img">
          <div class="card-body">
            <p class="card-text card-profile">I'm a Web Developer and Programmer living in Chennai, India. I make web
              appliaction, usually with Angular.</p>
            <hr style="background-color: gray;">
            <div class="profile-button">
              <a href="https://github.com/Pradeep2898" target="_blank"><img id="git-button-img"
                  src="../assets/images/icons8-github.svg"></a>
              <a href="https://www.quora.com/profile/Pradeep-Anand-9" target="_blank"><img id="quora-button-img"
                  src="../assets/images/icons8-quora.svg"></a>
              <a href="https://www.linkedin.com/in/pradeep-anand-375865157" target="_blank"><img id="linkedin-button-img"
                    src="../assets/images/icons8-linkedin.svg"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 right">
        <h2>Bit More About Me</h2>
        <p style="margin-top: 15px;">I primarily work with Java, but picking up a new framework or language is not a
          problem. I have extensive programming experience and I'm comfortable developing on the frontend or backend as
          well as little experience with Android App Development. I have diverse set of skills, ranging from HTML + CSS
          + Javascript, all the way upto frameworks like Angular.</p>
        <hr style="background-color: white;">
        <ul class="experience">
          <li>
            <span></span>
            <div>
              <div class="card" style="width: 90%;">
                <div class="card-body">
                  <h5 class="card-title" style="color: black;">Android Developer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Since 2017</h6>
                  <p class="card-text">Developed as a part of hobby back in 2017, during my college sophmore year. Learn multiple things during this. Good to heard from critics and welcomed the positive feedbacks.</p>
                  <a href="https://play.google.com/store/apps/dev?id=8628172740613457999" class="card-link">Wanna see my devloper profile!</a>
                  <a href="mailto:spanad2898@gmail.com" class="card-link" style="float: right;" title="Mail this guy!!!"><img id="mail-me" src="../assets/images/icons8-macbook-mail-100.png"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span></span>
            <div><div class="card" style="width: 90%;">
              <div class="card-body">
                <h5 class="card-title" style="color: black;">Developer Intern</h5>
                <h6 class="card-subtitle mb-2 text-muted">Zoho Corporation - 3 months</h6>
                <p class="card-text">Developed webapp for local file access privilege modification using technologies like JNI, Struts
                  along with the SSO authentication and authorization using OAuth.</p>
                  <a href="https://drive.google.com/file/d/1IEj9fHM9lWDkknTeTLbqNS--PiLfRqGw/view?usp=sharing" class="card-link">Wanna see my Internship experience!</a>
                  <a href="mailto:spanad2898@gmail.com" class="card-link" style="float: right;" title="Mail this guy!!!"><img id="mail-me" src="../assets/images/icons8-macbook-mail-100.png"></a>
              </div>
            </div>
          </div>
          </li>
          <li>
            <span></span>
            <div><div class="card" style="width: 90%;">
              <div class="card-body">
                <h5 class="card-title" style="color: black;">Associate Engineer</h5>
                <h6 class="card-subtitle mb-2 text-muted">TCS - Presently Working</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                  <!-- <a href="https://drive.google.com/file/d/1IEj9fHM9lWDkknTeTLbqNS--PiLfRqGw/view?usp=sharing" class="card-link">Wanna see my Internship experience!</a> -->
                  <a href="mailto:spanad2898@gmail.com" class="card-link" style="float: right;" title="Mail this guy!!!"><img id="mail-me" src="../assets/images/icons8-macbook-mail-100.png"></a>
              </div>
            </div>
          </div>
         </li>
        </ul>
      </div>
    </div>
    </div>
</body>
</html>