<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="body-content">
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1 class="animate__animated animate__fadeInUp">Howdy! mates ;-)</h1>
      <p id="tag">I'm Pradeep Anand, a learner and implementor.</p>
    </div>
    <hr style="background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 left">
          <div class="card border-light text-white mb-3" style="background-color: #ffffff1a;">
            <img class="card-img-top" style="padding: 3px;" [src]="profilePic.desc"
              alt="profile img">
            <div class="card-body">
              <p class="card-text card-profile">{{shortDescription.desc}}</p>
              <hr style="background-color: gray;">
              <div class="profile-button">
                <a href="https://github.com/Pradeep2898" target="_blank"><img id="git-button-img"
                    src="../assets/images/icons8-github-white.svg"></a>
                <a href="https://www.quora.com/profile/Pradeep-Anand-9" target="_blank"><img id="quora-button-img"
                    src="../assets/images/icons8-quora-white.svg"></a>
                <a href="https://www.linkedin.com/in/pradeep-anand-375865157" target="_blank"><img
                    id="linkedin-button-img" src="../assets/images/icons8-linkedin-white.svg"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 right">
          <h2>Bit More About Me</h2>
          <p style="margin-top: 15px;">{{aboutMeData.desc}}</p>
          <hr style="background-color: white;">
          <ul class="experience" *ngFor="let xp of experience">
            <li>
              <span></span>
              <div>
                <div class="card border-light text-white mb-3" style="width: 90%; background-color: rgba(255, 255, 255, 0.1);">
                  <div class="card-body">
                    <h5 class="card-title">{{xp.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{xp.duration}}</h6>
                    <p class="card-text">{{xp.desc}}</p>
                    <a *ngIf=xp.link [attr.href]="xp.link" class="card-link">Check it out!</a>
                    <a href="mailto:spanand2898@gmail.com" class="card-link" style="float: right;"
                      title="Mail this guy!!!"><img id="mail-me" src="../assets/images/icons8-macbook-mail-100-white.png"></a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>