.body-content{
    padding: 12px;
}
#tag{
    font-family: "Syne Mono";
}
.jumbotron{
    background: none;
    border: 4px solid white;
    border-radius: 0;
}
.container{
    width: 90%;
}
.left{
    border-right: 2px solid wheat;
}
.left .card{
    width: 80%;
    float: right;
}
.right{
    text-align: justify;
}
#git-button-img,#quora-button-img,#mail-me,#linkedin-button-img{
    padding-right: 5px;
    height: 35px;
}
#git-button-img:hover,#quora-button-img:hover,#mail-me:hover,#linkedin-button-img:hover{
    opacity: .7;
}
.experience{
    position: relative;
    margin: 0px;
    padding: 10px;
}
.experience::before{
    position: absolute;
    content: "-";
    height: 69%;
    width: 2px;
    background-color: white;
    border: 1px solid white;
}
.experience li{
    padding-left: 20px;
    padding-bottom: 20px;
    list-style: none;
}
.experience li span::before{
    content: " ";
    border: 3px solid coral;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    background:black;
}
@media only screen and (max-width: 576px) {
    .left{   
        border-right: 0;
        border-bottom: 2px solid wheat;
        padding-bottom: 10px;
    }
    .left .card{
        width: 100%;
        float: none;
    }
    .right{
        padding-top: 10px;
    }
  }
@media only screen and (max-width: 320px) {
      .body-content{
          width:400px;
      }
  }  